<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 数据库设置 -->
	<!--  
	<entry key="db.url">jdbc:h2:mem:coo</entry>
	<entry key="db.username">su</entry>
	<entry key="db.password"></entry>
	<entry key="db.maxActive">100</entry>
	<entry key="db.minIdle">10</entry>
	<entry key="db.initialSize">10</entry>
	<entry key="db.dialect">org.hibernate.dialect.H2Dialect</entry>
	<entry key="db.show_sql">true</entry>
	<entry key="db.filters">stat,slf4j</entry>
	<entry key="search.indexBase">${user.home}/.dsq/indexed</entry>
	-->
	<entry key="db.url">jdbc:mysql://127.0.0.1:3306/dsq?generateSimpleParameterMetadata=true</entry>
	<entry key="db.username">root</entry>
	<entry key="db.password">root</entry>
	<entry key="db.maxActive">100</entry>
	<entry key="db.minIdle">10</entry>
	<entry key="db.initialSize">10</entry>
	<entry key="db.dialect">org.hibernate.dialect.H2Dialect</entry>
	<entry key="db.show_sql">false</entry>
	<entry key="db.filters">stat,slf4j</entry>
	<entry key="search.indexBase">${user.home}/.dsq/indexed</entry>
</properties>